html,
body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.space {
    position: relative;
    overflow: hidden;
    background-color: #000;
    height: 100%;
    width: 100%;
}

.komet {
    opacity: 1;
    position: absolute;
    transition: opacity 5s linear;
}

.komet.hidden {
    opacity: 0;
    transition: opacity 5s linear;
}

.text {
    opacity: 0;
    color: red;
    text-align: center;
    transition: opacity 7s linear;
}

.text.shown {
    opacity: 1;
    transition: opacity 7s linear;
    animation-delay: 5s;
}

.komet.inflight {
    animation: kometFlight 10s linear;
}

.komet.popUp {
    transform: translateX(0);
    will-change: transform;
    animation: kometPopup 5s forwards;
    animation-delay: 5s;
}

@keyframes kometFlight {
    to {
        left: calc(100% + 20px);
    }
}

@keyframes kometPopup {
    to {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.notransition {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
